body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #a7cee0 50%, #d0dea7);
  }

#main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    width: 1200px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 2px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    color: rgba(255, 255, 255, 0.6);
}
  
.canvas-container {
    position: relative;
    width: 70%;
    height: 100%;
}
  
#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
  
.form-container {
    padding: 20px 20px 0 20px;
    position: relative;
    width: 25%;
    height: 100%;
    overflow: auto;
    color: black;
}

.form-title {
    display: flex;
    align-items: center;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}
  
.form-group {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#brightnessPercentage {
    width: 30px;
    margin-left: 10px;
}

#saturationPercentage {
    width: 30px;
    margin-left: 10px;
}

#contrastPercentage {
    width: 30px;
    margin-left: 10px;
}


/* 美化滑动条 */
input[type="range"] {
    -webkit-appearance: none;
    display: block;
    width: 60%;
    height: 10px;
    border-radius: 5px;
    background-color: #ddd;
    outline: none;
    margin: 10px 0;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }

  /* 添加渐变色效果 */
  input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(90deg, rgba(66,65,68,1) 0%, rgba(144,140,140,1) 30%, rgba(255,255,255,1) 100%);
    height: 10px;
    border-radius: 5px;
  }


button {
    --color: #560bad;
    font-family: inherit;
    display: inline-block;
    width: 100%;
    height: 2.6em;
    line-height: 2.5em;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
}
   
button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 130%;
    border-radius: 50%;
}
   
button:hover {
    color: #fff;
    cursor: pointer;
}
   
button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}
   
button:hover:before {
    top: -30px;
    left: -30px;
}
   
button:active:before {
    background: #3a0ca3;
    transition: background 0s;
}

#dropzone {
    width: 100%;
    height: 100%;
    border: 2px dashed #ccc;
    border-radius: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.drop-text {
    overflow: hidden;
    border-right: transparent;
    white-space: nowrap;
    animation: typing 1s steps(20, end) forwards;
    font-size: 1.6rem;
    cursor: pointer;
    width: 0;
    background-image: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    color: #ffffff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 35%;
    }
}

#uploadBtn {
    visibility: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 80px); /* 每行三个列，每列平均宽度 */
    grid-gap: 10px; /* 格子之间的间隔 */
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .grid-item {
    width: 60px;
    height: 60px;
    background-color: #ccc;
    cursor: pointer;
  }